html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.loaders{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.loaders > div{
    border: 5px solid red;
    border-radius: 50%;
    width: 5rem;
    height: 50px;
    border-top: 5px solid grey; 
    animation: rotate 2s linear infinite;
    animation-direction: alternate;

}
@keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360 deg);
      }
}

.loaders1{
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.loaders1 > div{
  border: 5px solid red;
  border-top:5px solid grey ;
  border-bottom:5px solid  grey;
  border-radius: 50%;
  width: 5rem;
  height: 50px;
  animation: rotate1 2s linear ;
  animation-direction: normal;
}
@keyframes rotate2 {
  from{
    transform: rotate(0);
  } to {
    transform: rotate(360 );
  }

}